.resizable-column {
    
    box-sizing: border-box;
    float:left;
    
}

.resizable-column .ui-resizable-s {

    height:20px;
    background-color: black;
    bottom:0px;
    transform:translate(0, 50%);
    background-color: grey;
    border-top: 3px outset black;
    border-bottom: 3px outset black;

}
.resizable-column .ui-resizable-e {

    width:20px;
    right:0px;
    transform:translate(50%, 0);
    background-color: grey;
    border-right: outset 3px black;
    border-left: outset 3px black;

}